version: '3.8'
services:
    prometheus:
        build:
            context: ./docker/prometheus
        ports:
            - "9090:9090"
    grafana:
        image: grafana/grafana
        ports:
            - "3001:3000"
