version: '3.8'
services:
    api:
        build: ./api
        container_name: nestjs-api
        environment:
            - NODE_ENV=production
            - PORT=3000
        restart: unless-stopped
        ports:
            - "3001:3000"
        networks:
            - observability-net
    prometheus:
        container_name: prometheus
        build:
            context: ./docker/prometheus
        restart: unless-stopped
        ports:
            - "9090:9090"
        networks:
            - observability-net
    grafana:
        container_name: grafana
        build:
            context: ./docker/grafana
        restart: unless-stopped
        ports:
            - "3002:3000"
        depends_on:
            - prometheus
        networks:
            - observability-net
networks:
    observability-net:
        name: observability-net
        driver: bridge

